<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here 	-->
    
    <bean id="emp" class="com.springcore.Student"  name="student1">
    	<property name="studentId" value="101" />
    	<property name="studentName" value="Finance" />
	<property name="studentAddress" value="Finance" />
    </bean>
    <bean class="com.springcore.Student" name="student2">
        <property name="studentId" value="1"/>
        <property name="studentName" value="Ajay Raut"/>
        <property name="studentAddress" value="Akole"/>
    </bean>

</beans>